html{
    color: #952413;
    background-color: #76E209;
}


div.left{
    float: left;
    width: 64%;
}
div.right{
    text-align: center;
    float: right;
    width: 33%;
}
footer{
  clear: both;
}
