body.mrrogers{
    color: #952413;
    background-color: #fff;
}
body.roger{
    color: #fff;
    background-color: #952413;
}
div.left{
    float: left;
    width: 64%;
}
div.right{
    text-align: center;
    float: right;
    width: 33%;
}
footer{
  clear: both;
}
