<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<title>Form</title>

</head>
<body>
    <div id="container">
    <header>
        <h1>Rogers World</h1>
        <img src="/static/mrrogers.jpg" alt="Roger">
    </header>
    </div
    <aside>
      <main>
          <form action="/story" method="post">
              <fieldset>
                  <label>Adjective 1: </label><input type="text" name="adj1"><br>
                  <label>Adjective 2: </label><input type="text" name="adj2"><br>
                  <label>Adjective 3: </label><input type="text" name="adj3"><br>
                  <label>Adjective 4: </label><input type="text" name="adj4"><br>

                  <label>Verb 1: </label><input type="text" name="verb1"><br>
                  <label>Verb 2: </label><input type="text" name="verb2"><br>
                  <label>Verb 3: </label><input type="text" name="verb3"><br>
                  <label>Verb 4: </label><input type="text" name="verb4"><br>
                  <label>Verb 5: </label><input type="text" name="verb5"><br>
                  <label>Verb 6: </label><input type="text" name="verb6"><br>

                  <label>Noun 1: </label><input type="text" name="noun1"><br>
                  <label>Noun 2: </label><input type="text" name="noun2"><br>
                  <label>Noun 3: </label><input type="text" name="noun3"><br>
                  <label>Noun 4: </label><input type="text" name="noun4"><br>
                  <label>Noun 5: </label><input type="text" name="noun5"><br>
                  <label>Noun 6: </label><input type="text" name="noun6"><br>
                  <label>Noun 7: </label><input type="text" name="noun7"><br>
                  <label>Noun 8: </label><input type="text" name="noun8"><br>
                  <label>Noun 9: </label><input type="text" name="noun9"><br>
                  <label>Noun 10: </label><input type="text" name="noun10"><br>

                  <input type="submit" value="Submit">
              </fieldset>
          </form>
      </main>
    </aside>
</body>
